.info-box {
  flex-direction: column;
}

.info-box-text-container {
  margin-top: 100px;
  background-color: white;
  width: 100%;
  justify-content: center;
}

.info-box-left {
  padding: 20px;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.info-box-right {
  padding: 20px;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.info-box-list {
  padding-inline-start: 0;
  margin-top: -5px;
}

.info-box-list-mobile {
  padding-inline-start: 0;
  margin-top: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-box {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  min-width: 960px;
}

.info-box-left-mobile {
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.info-image-mobile {
  margin-left: auto;
  margin-right: auto;
}

.info-box-text-container-mobile {
  position: relative;
  width: 100%;
  justify-content: center;
}

.info-box-mobile {
  position: absolute;
  width: 100%;
  max-height: 400px;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
}

.list-item-row {
  margin-top: 5px;
}

.info-box-list-item {
  list-style: none;
  margin-left: 5px;
}

.list-item-icon {
  color: blue;
}

.info-text {
  color: black;
  font-size: 1.3em;
  line-height: 1.5em;
}

.info-title {
  font-size: 1.3em;
  font-weight: bold;
}

.box-open {

}

.box-closed {

}

.info-box.box-closed {
  bottom: -300px;
}

.info-box-mobile.box-closed {
  top: calc(100vh - 100px);
}

.header-card-1.open { /* focused */
  transform: translateY(-100px);
}
