.info-box {
  flex-direction: column;
}

.info-box-text-container {
  margin-top: 100px;
  background-color: white;
  width: 100%;
  justify-content: center;
}

.info-box-left {
  padding: 20px;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.info-box-right {
  padding: 20px;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

ul.info-box-list {
  padding-inline-start: 0;
  margin-top: -5px;
}

.info-box {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
}

.list-item-row {
  margin-top: 5px;
}

.info-box-list-item {
  list-style: none;
  margin-left: 5px;
}

.list-item-icon {
  color: blue;
}

.info-text {
  color: black;
  font-size: 1.3em;
  line-height: 1.5em;
}

.info-title {
  font-size: 1.3em;
  font-weight: bold;
}

.box-open {

}

.box-closed {

}

.info-box.box-closed {
  bottom: -300px;
}

.header-card-1.open { /* focused */
  transform: translateY(-100px);
}
