.header-card-1 { /* focused */
  top: 100px;
  margin: auto;
  max-width: 100%;
}

.header-card-2 { /* 1 level back */
  top: 40px;
  max-width: 400px;
  filter: blur(5px);
  opacity: 60%;
}

.header-card-3 { /* 2 levels back */
  top: 20px;
  max-width: 300px;
  filter: blur(10px);
  opacity: 60%;
}

.header-card-4 { /* 3 levels back, possibly off screen */
  top: 2px;
  max-width: 250px;
  filter: blur(10px);
  opacity: 50%;
}

.header-card-offscreen { /* off screen */
  top: -100px;
  height: 0px;
  max-width: 250px;
}

.header-card-row { /* individual card row */
}

.display-side-left {
  justify-content: flex-end;
  transform: translateX(calc(50vw - 110%));
}

.display-side-right {
  transform: translateX(50vw);
}

.display-side-offscreen {
  filter: blur(10px);
  justify-content: center;
  transform: translateX(50vw);
}

.display-side-center {
  justify-content: center;
  z-index: 1000;
  transform: translateX(0vw);
  margin-left: auto;
  margin-right: auto;
}

.display-side-center.right { /*focused */
}

.display-side-center.none { /*focused */
}

.display-side-center.left { /*focused */
}

.tagline {
  color: white;
  align-self: center;
  font-weight: bold;
  padding-top: 1em;
}

.byline {
  color: white;
}

.bylineRow {
  flex-direction: row;
  max-width: 70%;
  padding-top: 1em;
}

.header-card {
  flex-direction: column;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.header-card-content {

}

.material-icons.open-button {
  color: #33ccff;
}

.header-card-list {
  flex-direction: column;
  width: 100%;
}

.header-image {
}
